/* You can add global styles to this file, and also import other style files */
body {
  background-color: #191e24;
  font-family: "Roboto", sans-serif;
  color: #b7c0cd;
  margin: 0;
  padding: 0;
}

a {
  color: #b7c0cd !important;
}

.dark {
  background-color: #111418;
}

.l-dark {
  background-color: #191e24;
}

.default-card-bg {
  background-color: #5c6d84;
}

.default-card-text {
  color: #e7eaee;
}

.default-text {
  color: #b7c0cd;
}

.default-text-dark {
  color: #93a0b4;
}

.default-white {
  color: #fff;
}

.card-border-radius {
  border-radius: 0.375rem;
}

.cuadrado {
  width: 100px;
  height: 100px;
  background-color: #111418;
}
