/* You can add global styles to this file, and also import other style files */
body {
  background-color: #191e24;
  font-family: "Roboto", sans-serif;
  color: #93a1b4;
}

a {
  color: #93a1b4 !important;
}

.color-white {
  color: #fff;
}

.header {
  background-color: #111418;
}

.cuadrado {
  width: 100px;
  height: 100px;
  background-color: #111418;
}
